body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  direction: ltr; 
  text-align: left; 
}

.App {
  max-width: 600px;
  margin: 40px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
  
}

input, .react-datepicker-wrapper {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #1976d2;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1565c0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #e3f2fd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}
